<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Check In</title>
</head>
<body class="arrival-container">
  <section class="title">
    <h1>Register</h1>
  </section>
  <form (ngSubmit)="onSubmit()" #arrivalForm="ngForm" name="arrivalForm">
    <label><input [(ngModel)]="colonist.name" name="name" type="text" placeholder="Name" required></label>
    <label><input [(ngModel)]="colonist.age" name="age" type="number" placeholder="Age" required></label>
    <select [(ngModel)]="colonist.job_id" name="job_id" required>
      <option value="(none)">Select occupation</option>
      <option *ngFor="let job of occupations" [value]="job.id">{{job.name}}</option>
    </select>
  
    <button [disabled]="noOccupation || !arrivalForm.form.valid" type="submit">Check in to the Colony</button>
  </form>


</body>
</html>