<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Check In</title>
</head>
<body class="arrival-container">
  <section class="title">
    <h1>Register</h1>
  </section>
  <form>
    <label><input type="text" placeholder="Name"></label>
    <label><input type="number" placeholder="Age"></label>
    <select required>
      <option value="occupation">Select occupation</option>
      <option value="alien-hunter">Alien hunter</option>
    </select>
  </form>
  <section class="check-in">
    <button>Check In</button>
  </section>


</body>
</html>